# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

# Minez
.classpath
.project
.vscode/
.idea
*.iws
*.iml
*.ipr
!gradle/wrapper/gradle-wrapper.jar
**/technotes
**/*.keep
